---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contacto - Victor RPT">
  <h1 class="text-3xl font-bold mb-4">Contacto</h1>
  <p>Puedes contactarme en:</p>
  <ul>
    <li>Email: <a href="mailto:victorrpt@gmail.com">victorrpt@gmail.com</a></li>
    <li>GitHub: <a href="https://github.com/victorrpt22">github.com/victorrpt22</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/victor-rpt">linkedin.com/in/victor-rpt</a></li>
  </ul>
</Layout>
