---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contact - Victor RPT">
  <h1 class="text-3xl font-bold mb-4">Contact</h1>
  <p>You can reach me at:</p>
  <ul>
    <li>Email: <a class="text-blue-600 hover:underline" href="mailto:victor.rpt22@gmail.com">victor.rpt22@gmail.com</a></li>
    <li>LinkedIn: <a class="text-blue-600 hover:underline" href="https://www.linkedin.com/in/victor-rpt">linkedin.com/in/victor-rpt</a></li>
    <li>GitHub: <a class="text-blue-600 hover:underline" href="https://github.com/victorrpt22">github.com/victorrpt22</a></li>
  </ul>
</Layout>
