---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Contacto - Victor RPT">
  <h1 class="text-3xl font-bold mb-4">Contacto</h1>
  <p>Puedes contactarme en:</p>
  <ul>
    <li>Email: <a class="text-blue-600 hover:underline" href="mailto:victor.rpt22@gmail.com">victor.rpt22@gmail.com</a></li>
    <li>Teléfono: <a class="text-blue-600 hover:underline" href="tel:+526647260829">+52 664 726 0829</a></li>
    <li>LinkedIn: <a class="text-blue-600 hover:underline" href="https://www.linkedin.com/in/victor-rpt">linkedin.com/in/victor-rpt</a></li>
    <li>GitHub: <a class="text-blue-600 hover:underline" href="https://github.com/victorrpt22">github.com/victorrpt22</a></li>
    <li>Disponibilidad: Remoto / Abierto a reubicación</li>
  </ul>
</Layout>

